<div class="widget-wrap">
	<img src="/img/cptsct.png" alt="茂名市第一中学灵动计算机社社徽" style="border:0; border-radius:90px; height:180px; width:180px; padding: 0; margin: 10px auto 10px auto; display: block; box-shadow: 0 0 20px #999;" />
</div>
