<div class="widget-wrap">
	<h3 class="widget-title">友情链接</h3>
	<div class="widget">
		<ul>
			<li><a href="http://www.mmyz.net/" title="学校网站" target="_blank">广东省茂名市第一中学</a></li>
			<li><a href="http://mmyzjixie.blog.163.com/" title="曾经的计算机协会" target="_blank">茂名一中计协 - 网易博客</a></li>
			<li><a href="http://tieba.baidu.com/f?kw=%E8%8C%82%E5%90%8D%E5%B8%82%E7%AC%AC%E4%B8%80%E4%B8%AD%E5%AD%A6%E7%A4%BE%E5%9B%A2%E8%81%94%E5%90%88%E4%BC%9A" title="社联贴吧" target="_blank">茂名一中社团联合会 - 百度贴吧</a></li>
		</ul>
	</div>
</div> 
