<div class="widget-wrap">
	<h3 class="widget-title">灵动计算机社</h3>
	<div class="widget">
		<div>
			前世计协九八始 汇聚挚友茂一中<br />
			技术日新源于灵 能力提升寓于动<br />
			设计开发论精巧 管理操作各不同<br />
			信息科学有奥秘 与君一道乐其中<br />
		</div>
		<hr />
		QQ群: <a href="http://shang.qq.com/wpa/qunwpa?idkey=c02d2a5684983d7eabbe905306ee0ec126e1961c01b99babb87233c71a41a3f8" target="_blank">240696962</a><br />
		Email: <a href="&#x6d;&#97;&#x69;&#108;&#x74;&#111;&#x3a;&#x6d;&#x6d;&#121;&#122;&#99;&#112;&#x74;&#115;&#x63;&#x74;&#x40;&#49;&#50;&#x36;&#46;&#x63;&#x6f;&#109;">&#x6d;&#x6d;&#121;&#122;&#99;&#112;&#x74;&#115;&#x63;&#x74;&#x40;&#49;&#50;&#x36;&#46;&#x63;&#x6f;&#109;</a>
	</div>
</div>  
